In [1]:
# always get fresh copies!
! cp ~cs186/sp16/hw2/part2/part2.db .
! chmod 700 part2.db
! cp ~cs186/sp16/hw2/part2/part2sampled.db .
! chmod 700 part2sampled.db
! cp ~cs186/sp16/hw2/part2/part2test.db .
! chmod 700 part2test.db

In [2]:
import subprocess, sqlite3, csv, os, sys

# jupyter weirdness; this makes sure that stdout is not buffered
def printNow(s):
    print s
    sys.stdout.flush()

    
def checkFile(f):
    if not (os.path.isfile(f)):
        raise IOError("DB File " + f + " is not here!")
        
currentDB1 = currentDB2 = "part2test.db"

# for grading dataset
# note that the two DB are different! currentDB1 is smaller in size
if ('CS186GRADER' in os.environ):
    currentDB1 = "part2sampled.db" 
    currentDB2 = "part2.db" 
    
checkFile(currentDB1)
dbQ1 = sqlite3.connect(currentDB1) 
dbQ1.text_factory = str

checkFile(currentDB2)
dbQ2 = sqlite3.connect(currentDB2)
dbQ2.text_factory = str

In [3]:
# Q1
# Degrees of separation
# Expected output: a paths table (as defined), note that we will be checking the original
#                  paths, and not just the average value

def initDegrees():
    dbQ1.executescript("""
        -- create paths table
        DROP TABLE IF EXISTS paths;
        DROP TABLE IF EXISTS pathsLastUpdated;
        DROP INDEX IF EXISTS paths_src_idx;
        DROP INDEX IF EXISTS paths_dst_idx;

        CREATE TABLE paths (
            src varchar(200),
            dst varchar(200),
            length integer,
            PRIMARY KEY (src, dst)
        );
        
        CREATE TABLE pathsLastUpdated (
            src varchar(200),
            dst varchar(200),
            length integer
        );

        CREATE INDEX paths_src_idx ON paths(src);
        CREATE INDEX paths_dst_idx ON paths(dst);
    """);
    dbQ1.commit()
    return

def populatePaths():
    dbQ1.executescript("""
      -- initialize paths with the first level connections
      INSERT INTO paths SELECT
        src,
        dst,
        1
      FROM links;      
      
      -- initialized for your convenience the "last udpated"
      INSERT INTO pathsLastUpdated SELECT
        src,
        dst,
        1
      FROM links;
    """);
    
    dbQ1.commit()
    return;

############################## SOME NOTES ##########################################                   
# PSEUDOCODE
# (links) = edges in our graph
# (paths) = initiate set of paths we've seen so far, which is equal to links
# (pathsLastUpdated) = initiated to (paths) for the following loop logic
#
# repeat:
#     (newPaths) = join (pathsLastUpdated) with (links), finding all the new paths 
#            that extends paths by one hop
#     (pathsLastUpdated) = (newPaths) // memorization and avoiding re-computation
#     (paths) += (newPaths) that are distinct and new
#     if (paths) table didn't update (no new entries), break out of the loop,
#         otherwise, delete (newPaths) and continue
####################################################################################


# Please implement the algorithm such that you don't repeat paths that were previously explored
# For example, for graph a->b->c->d, we want to see (a,b), (b,c), (c,d) then (a,c), (b,d), then (a,d)
# This makes a rather significant performance difference. To this end we have set up the 
#   pathsLastUpdated for you to store intermediate results

def getNewPaths():
    dbQ1.executescript("""
        -- this is an intermediate table for you to store temp data
        DROP TABLE IF EXISTS pathsNew;  
        CREATE TABLE pathsNew (
            src varchar(200),
            dst varchar(200),
            length integer
        );    
     
        -- TODO (hint: use pathsLastUpdated)

        INSERT INTO pathsNew 
            select distinct last.src, links.dst, last.length+1 as len from
                pathsLastUpdated last, links
                where links.src = last.dst
                and last.src <> links.dst;
            
            
     """)
    dbQ1.commit()
    return

def updatePathsWithNewpaths():
    dbQ1.executescript("""
        DROP TABLE IF EXISTS pathsLastUpdated;
        
        -- add it to path
        -- INSERT INTO paths
        -- TODO (hint: use pathsNew)
        
        INSERT INTO paths 
            SELECT distinct * FROM pathsNew new where
            not exists (select paths.src, paths.dst from paths where new.dst = paths.dst
                            and paths.src = new.src);
        
        ALTER TABLE pathsNew RENAME TO pathsLastUpdated; 
        
    """)
    dbQ1.commit()
    return


def getPathsCount():
    r = dbQ1.execute("SELECT COUNT(*) FROM paths;").fetchone()
    return r[0]


def getAveragePathsLength():
    r = dbQ1.execute("SELECT avg(length) FROM paths;").fetchone()
    return r[0]


def findDegreeDistribution():
    printNow("initializing degrees.  Calling sqlite...")
    initDegrees()
    printNow("Done, now populating paths.  Calling sqlite...")
    populatePaths()
    printNow("Done, now getting pathcount.  Calling sqlite...")
    oldCount = getPathsCount() 
    
    i = 0
    while True:
        i += 1
        printNow("Beginning iteration #" + str(i) + ".  Calling sqlite ...")
        getNewPaths()
        printNow("Updating paths")
        updatePathsWithNewpaths()
        currentCount = getPathsCount()
        printNow("Done, current path total is: " + str(currentCount))
        if (currentCount == oldCount):
            break
        else:
            oldCount = currentCount

            
    print 'Converged! The average length of the shortest paths is: ', getAveragePathsLength()

findDegreeDistribution()

initializing degrees.  Calling sqlite...
Done, now populating paths.  Calling sqlite...
Done, now getting pathcount.  Calling sqlite...
Beginning iteration #1.  Calling sqlite ...
Updating paths
Done, current path total is: 3817
Beginning iteration #2.  Calling sqlite ...
Updating paths
Done, current path total is: 5542
Beginning iteration #3.  Calling sqlite ...
Updating paths
Done, current path total is: 7117
Beginning iteration #4.  Calling sqlite ...
Updating paths
Done, current path total is: 8549
Beginning iteration #5.  Calling sqlite ...
Updating paths
Done, current path total is: 9850
Beginning iteration #6.  Calling sqlite ...
Updating paths
Done, current path total is: 11025
Beginning iteration #7.  Calling sqlite ...
Updating paths
Done, current path total is: 12107
Beginning iteration #8.  Calling sqlite ...
Updating paths
Done, current path total is: 13099
Beginning iteration #9.  Calling sqlite ...
Updating paths
Done, current path total is: 13951
Beginning iteration #10.  Calling sqlite ...
Updating paths
Done, current path total is: 14702
Beginning iteration #11.  Calling sqlite ...
Updating paths
Done, current path total is: 15364
Beginning iteration #12.  Calling sqlite ...
Updating paths
Done, current path total is: 15946
Beginning iteration #13.  Calling sqlite ...
Updating paths
Done, current path total is: 16468
Beginning iteration #14.  Calling sqlite ...
Updating paths
Done, current path total is: 16924
Beginning iteration #15.  Calling sqlite ...
Updating paths
Done, current path total is: 17285
Beginning iteration #16.  Calling sqlite ...
Updating paths
Done, current path total is: 17578
Beginning iteration #17.  Calling sqlite ...
Updating paths
Done, current path total is: 17811
Beginning iteration #18.  Calling sqlite ...
Updating paths
Done, current path total is: 17958
Beginning iteration #19.  Calling sqlite ...
Updating paths
Done, current path total is: 18050
Beginning iteration #20.  Calling sqlite ...
Updating paths
Done, current path total is: 18111
Beginning iteration #21.  Calling sqlite ...
Updating paths
Done, current path total is: 18142
Beginning iteration #22.  Calling sqlite ...
Updating paths
Done, current path total is: 18153
Beginning iteration #23.  Calling sqlite ...
Updating paths
Done, current path total is: 18158
Beginning iteration #24.  Calling sqlite ...
Updating paths
Done, current path total is: 18159
Beginning iteration #25.  Calling sqlite ...
Updating paths
Done, current path total is: 18159
Converged! The average length of the shortest paths is:  6.95357673881

In [4]:
# Q2
# Expected output: nodes table populated with pagerank results 
# Note:
# - keeping track of the old PR value helps find convergence, though it's not required in the
#   assignment, it will help you see how close the values end up becoming.
def initPageRank():
    dbQ2.executescript("""
        DROP TABLE IF EXISTS nodes;
        CREATE TABLE nodes (
            node varchar(200) PRIMARY KEY,
            prevpr real,
            currentpr real,
            outdegree integer
        );
    """);
    dbQ2.commit()
    return


def populatePageRank():
    dbQ2.executescript("""
        INSERT INTO nodes
        SELECT
            DISTINCT links.src,
            1,
            1,
            COUNT(links.dst)
        FROM
            links
        GROUP BY
            links.src;
               
        -- corner case #1 nodes with no outgoing edges
        INSERT INTO
            nodes
        SELECT
            DISTINCT links.dst,
            1,
            1,
            0
        FROM
            links
        WHERE
            links.dst NOT IN (
                SELECT node FROM nodes
            );    
            
        -- corner cases #2 nodes with no incoming edges
        UPDATE
            nodes
        SET
            currentpr = 0.15
        WHERE
            nodes.node not in (
                SELECT DISTINCT dst
                FROM links
            );
    """);
    dbQ2.commit()

    return


def updatePageRank():

# What I'm currently doing (at a high level):
 
# Selecting from nodes N the N.node, N's currentpr as previouspr, and for currentpr:
#     0.15 + 0.85 * sum(M.currentpr / M.outdegree
#                                  for all nodes M who are IN
#                                       (select sources for all links who have dst = N)

    dbQ2.executescript(""" 
        -- TODO (hint: you might want a helper table to store intermediate results)
        
         DROP TABLE IF EXISTS tempnode;
         create table tempnode (
         node varchar(200) PRIMARY KEY,
         oldpagerank real,
         newpagerank real
         );
        
        
         INSERT INTO tempnode
         SELECT nd.node AS node, currentpr AS oldpagerank, 0.15 + 0.85 * 
             (SELECT sum(cominN.currentpr / cominN.outdegree)
              FROM (SELECT ppp.currentpr, ppp.outdegree FROM nodes ppp, links 
                     WHERE ppp.node = links.src AND nd.node = links.dst) cominN) AS newpagerank
         FROM nodes nd;
    
         UPDATE nodes SET 
         prevpr = (SELECT oldpagerank FROM tempnode WHERE nodes.node = tempnode.node),
         currentpr = (SELECT newpagerank FROM tempnode WHERE nodes.node = tempnode.node)
         WHERE EXISTS
             (SELECT * FROM tempnode nt WHERE nodes.node = nt.node);
         
         UPDATE nodes SET currentpr = 0.15
         WHERE nodes.node NOT IN (
            SELECT DISTINCT dst FROM links);

    """);
    dbQ2.commit()
    return

def topPageRank():
    
    dbQ2.executescript("""
    
        DROP VIEW IF EXISTS topPR;
        CREATE VIEW topPR AS
        SELECT *
        FROM nodes
        ORDER BY currentpr DESC
        LIMIT 100;
        
    """);
    dbQ2.commit()

    return

def printTopPageRank():
    # we need to create an cursor object to fetch results to this program
    #    which we didn't need to before since it was just updating the DB
    r = dbQ2.execute("SELECT * FROM topPR;").fetchall()
    for i in r:
        print i
    

def runPageRank(N=10):
    printNow('Initializing page rank')
    initPageRank()
    printNow('Populating PageRank')
    populatePageRank()
    for i in xrange(N):
        printNow('Updating PageRank for iteration {}'.format(i))
        updatePageRank()
        
    printNow('Running top pagerank!')        
    topPageRank()
    printNow('Done! Here are your results')        
    printTopPageRank()
    
    return


runPageRank()

Initializing page rank
Populating PageRank
Updating PageRank for iteration 0
Updating PageRank for iteration 1
Updating PageRank for iteration 2
Updating PageRank for iteration 3
Updating PageRank for iteration 4
Updating PageRank for iteration 5
Updating PageRank for iteration 6
Updating PageRank for iteration 7
Updating PageRank for iteration 8
Updating PageRank for iteration 9
Running top pagerank!
Done! Here are your results
('Latin', 11.987975459715898, 12.639597837138544, 1)
('English_language', 12.427616296968766, 12.476664000133512, 2)
('Spain', 9.029614688252684, 9.053813833786231, 1)
('Indian_Ocean', 7.760206582989596, 7.763146027221071, 1)
('World_War_II', 7.743169072677906, 7.4261192506875355, 2)
('South_Korea', 6.921390294926511, 6.873675595541157, 1)
('Fascism', 6.651119999353285, 6.537507061848327, 1)
('France', 6.340706072465965, 6.350037098921698, 1)
('Republic_of_Ireland', 5.562022324211253, 5.972462163121817, 1)
('People%27s_Republic_of_China', 5.791649865342849, 5.873885944656005, 1)
('Channel_Islands', 5.276912319814728, 5.686736926211727, 0)
('Italy', 5.23893941994314, 5.368593975579566, 2)
('Canada', 4.99194250621753, 4.99194250621753, 1)
('Germany', 4.671648939177026, 4.629813128254623, 3)
('Fruit', 4.549150527636718, 4.549150527636718, 1)
('Multiculturalism', 4.520651130284901, 4.520651130284901, 1)
('Russia', 4.470687559574299, 4.471918024601429, 1)
('China', 4.340489340736036, 4.340489340736036, 1)
('Halloween', 4.144277948491211, 4.144277948491211, 1)
('Mongolia', 4.085787525819018, 4.077584425638154, 1)
('Mekong', 3.8487127864972748, 3.83941593962563, 0)
('12th_century', 3.620458466891906, 3.6229193969461653, 0)
('Hinduism', 3.589712036417809, 3.5938135865082406, 1)
('United_Kingdom', 3.5918263979798515, 3.584494877193205, 3)
('Estonia', 3.5548117405896855, 3.56834685588811, 0)
('Royal_Air_Force', 3.4273117405896856, 3.4408468558881102, 1)
('Sweden', 3.310514378933234, 3.305141348314769, 2)
('Ganesha', 3.171313915294986, 3.2012552309551374, 0)
('Paul_of_Tarsus', 3.1935526823021774, 3.1919804214341783, 0)
('Christianity', 3.1288004958049163, 3.127800742970374, 1)
('George_V_of_the_United_Kingdom', 3.1911833423227027, 3.0632149795012324, 1)
('World_War_I', 3.0432594407075633, 3.0362868055538295, 1)
('Edward_VIII_of_the_United_Kingdom', 2.9940630601248945, 2.862505840974297, 1)
('United_States', 2.766618749999999, 2.766618749999999, 5)
('Constitutional_monarchy', 2.742468544017324, 2.735984676916033, 0)
('Austria', 2.8721292477189446, 2.7343171646804385, 1)
('Europe', 2.731923694882488, 2.7298729198372724, 3)
('Franz_Schubert', 2.462873134918163, 2.7188098605611026, 1)
('Great_Britain', 2.681805792849053, 2.6802335319810537, 1)
('Netherlands', 2.660265466699218, 2.660265466699218, 2)
('Cuba', 2.5880205683593744, 2.5880205683593744, 1)
('England', 2.5498687499999995, 2.5498687499999995, 3)
('Arabic_language', 2.5290005208593747, 2.5290005208593747, 1)
('Augustus', 2.6498251796065952, 2.5040492534758343, 0)
('Russian_language', 2.374040659134788, 2.460583366042897, 1)
('Madrid', 2.4811533074486083, 2.4583897044467125, 1)
('Water', 2.4402187499999997, 2.4402187499999997, 2)
('San_Marino', 2.5223251796065953, 2.3765492534758343, 2)
('Ottoman_Empire', 2.3856621496162473, 2.3759722375276024, 2)
('Brussels', 2.415752593466721, 2.34646203162649, 1)
('Chad', 2.3315254427304684, 2.3315254427304684, 3)
('Color', 2.2874506406249995, 2.2874506406249995, 1)
('North_Africa', 2.2628662499999996, 2.2628662499999996, 1)
('Ecuador', 2.1120422793416007, 2.258980311331317, 1)
('Iceland', 2.249245331742417, 2.2482455789078744, 1)
('Switzerland', 2.1731130813766066, 2.1993630019553696, 1)
('Peter_I_of_Russia', 2.076059838238899, 2.1679345602645697, 0)
('The_Hague', 2.1420825108471675, 2.1420825108471675, 0)
('Peru', 2.1381265574765336, 2.136485937440361, 2)
('Northwest_Africa', 2.0734363124999997, 2.0734363124999997, 1)
('Portugal', 2.044287012236737, 2.042236237191521, 1)
('Indonesia', 2.0293446874999996, 2.0293446874999996, 1)
('North_America', 1.9707534902343744, 1.9707534902343744, 1)
('Communism', 1.9404682646871274, 1.9678632013328026, 1)
('United_Nations', 1.956451561481982, 1.956451561481982, 2)
('Eastern_Orthodox_Church', 1.957387428988814, 1.95041479383508, 1)
('Triathlon', 1.8870287278876618, 1.8876439604012265, 0)
('Petroleum', 1.8299113124999995, 1.8299113124999995, 1)
('Mecca', 1.8243015336112067, 1.8241306356907725, 0)
('Islam', 1.8195654537538501, 1.8197705312583714, 1)
('Tennis', 1.818452478147915, 1.8119686110466242, 0)
('Vladimir_Lenin', 1.8493771218151733, 1.7993980249840582, 1)
('Middle_Ages', 1.787726283145996, 1.787726283145996, 2)
('Jerusalem', 1.7581264218749997, 1.7581264218749997, 1)
('Currency', 1.753266686045898, 1.7557276161001572, 1)
('Ukraine', 1.7484854360458981, 1.7509463661001572, 1)
('Time_zone', 1.7404147663898792, 1.7404147663898792, 1)
('Ireland', 1.7295871406249999, 1.7295871406249999, 1)
('Heat', 1.7054246156249995, 1.7054246156249995, 1)
('List_of_countries', 1.6946038338503802, 1.6954497785565317, 4)
('Nepal', 1.685358344440104, 1.685358344440104, 1)
('Coin', 1.6566828835007403, 1.6402766831390132, 0)
('Anno_Domini', 1.6526188210007402, 1.6362126206390133, 0)
('Church_of_Ireland', 1.6201490695312497, 1.6201490695312497, 0)
('Australia', 1.614496875, 1.614496875, 2)
('Medicine', 1.6138757109374995, 1.6138757109374995, 0)
('Francis_Bacon', 1.5996109232812494, 1.5996109232812494, 0)
('New_York_City', 1.5919134375, 1.5919134375, 1)
('Japan', 1.5722067187499997, 1.5722067187499997, 1)
('Iron_Age', 1.5648872312674569, 1.5647163333470222, 0)
('Carbon', 1.5488662499999994, 1.5488662499999994, 1)
('Photosynthesis', 1.537916231624254, 1.537916231624254, 1)
('President_of_the_United_States', 1.5315264093749996, 1.5315264093749996, 1)
('India', 1.5288039346354163, 1.5288039346354163, 1)
('Slavery', 1.5214218749999997, 1.5214218749999997, 1)
('British_Isles', 1.51437215687885, 1.5145772343833717, 1)
('Aristotle', 1.5087231430498655, 1.5087231430498655, 0)
('Africa', 1.4887499999999996, 1.4887499999999996, 4)
('University_of_Cambridge', 1.4861698582031246, 1.4861698582031246, 0)
('Arable_land', 1.482842625440299, 1.482842625440299, 1)

In [5]:
# you should have ran the two previous cells before running the test!
# make sure also that you have set the db to part2test.db!
! ./test.sh

Error: no such table: paths
ERROR q1! See your_output/q1.csv
Error: no such table: topPR
ERROR q2! See your_output/q2.csv